# Common
README.md
CHANGELOG.md
.DS_Store

# Docker
backend/Dockerfile_miniconda
docker-compose.yml
.dockerignore
**/Dockerfile

# git
.git
.gitattributes
.gitignore

# JetBrains
.idea

# nodejs
**/node_modules
**/build
